<!DOCTYPE html>
<html>
<head>
    <title>KHUGLE DRIVE - D조</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<!-- ployfill is a library supporter. -->
<body>
    <div class = "top-out-layout">
    </div>

    <div class = "top-layout">
        login-top
    </div>

    <div class = "mid-layout">
        login-mid
    </div>

    <div class = "bottom-layout">
        login-bottom
    </div>

    <div class = "bottom-out-layout">
        login-bottom-out
    </div>
</body>
</html>
