{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Hello KHUgle</title>
</head>
<body>
{% include "Base/navbar.html" %}
{% block content %}
{% endblock %}

<script src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>

<!-- JavaScript Start -->
{% block script %}
{% endblock %}
<!-- JavaScript End -->

</body>
</html>