{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Hello KHUgle</title>
</head>
<body>
{% include "Base/navbar.html" %}
{% block content %}
{% endblock %}

<script src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src = "{% static 'js/bootstrap.min.js' %}"></script>
<script src = "{% static 'js/jsFile.js' %}"></script>

<!-- JavaScript Start -->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
{% block script %}
{% endblock %}
<!-- JavaScript End -->

</body>
</html>


<ul class="contextmenu">
    <li><a href="#">삭제</a></li>
    <li><a href="#">이동</a></li>
    <li><a href="#">로그</a></li>
</ul>

  <ul class="contextmenuPrivate">
    <li><a href="#">삭제</a></li>
    <li><a href="#">이동</a></li>
</ul>