{% extends 'Base/base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">Delete Post</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <p>
            <label for="id_title">Title:</label>
            {{ form.title }}
        </p>
        <p>
            <label for="id_content">Content:</label>
            {{ form.content}}
        </p>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}