{% extends 'Base/base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>Number</th>
            <th>Title</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% if post_list %}
        {% for post in post_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'KHUgle:detail' post.id %}">{{ post.title }}</a>
            </td>
            <td>{{ post.created_at }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">EMPTY</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'KHUgle:post_create' %}" class="btn btn-primary">Post</a>
</div>
{% endblock %}