{% extends 'Base/base.html' %}
{% load bucket_filter %}
{% load static %}
{% block content %}
<script>
    function CreateFolder(){
    var item = $('#cf')
    console.log(item.html())
    item.html("<form action=\"{% url 'bucket:group_folder_create' current_path %}\" method='POST' style='float:right; margin-left: 5px'>\
        <input type='text' id='folder' name='folder'>\
        <input class ='btn btn-primary' type='submit' value='Create'>\
    </form>")
  }          
</script>

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>Folder</th>
        </tr>
        </thead>
    </table>

    <tbody>
    <div class = "grid-5">

    {% if current_path|is_bucket %}
    <div class ="items"><a href="{% url 'bucket:group_bucket' %}"><img src="{% static './img/folder.png' %}"></a>...</div>
    {% else %}
    <div class ="items"><a href="{% url 'bucket:group_bucket_file' current_path|upper_path %}"><img src="{% static './img/folder.png' %}"></a>...</div>
    {% endif %}

    {% if file_list %}
    {% for file in file_list %}
    <!-- <tr class="text-center"> -->
        {% if file.is_folder %}
        <div class ="items"><a href="{% url 'bucket:group_bucket_file' file.path %}"><img src="{% static './img/folder.png' %}"></a>{{ file.name }}</div>
        {% endif %}
    <!-- </tr> -->
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">EMPTY</td>
    </tr>
    {% endif %}
    </div>
    </tbody>

    <tbody>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>File</th>
        </tr>
        </thead>
    </table>

    <div class = "grid-5">
    {% if file_list %}
    {% for file in file_list %}
    <!-- <tr class="text-center"> -->
        {% if not file.is_folder %}
        <div class ="items"><a href="{% url 'bucket:group_download' file.path %}"><img src="{% static './img/file.jpg' %}"></a>{{ file.name }}</div>
        {% endif %}
    <!-- </tr> -->
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">EMPTY</td>
    </tr>
    {% endif %}
    </div>

    </tbody>
    
    <div id = "cf" style="display:inline">
        <button class="btn btn-primary" style="float:right; margin-left: 5px;" onclick="CreateFolder()">Create Folder</button>
    </div>

    <div class="abutton" style="float:right; display:inline">
        <a href="{% url 'KHUgle:post_create' current_path %}" class="btn btn-primary">Post</a>
    </div>

</div>
{% endblock %}