{% extends 'Base/base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>Folder</th>
        </tr>
        </thead>
    </table>

    <tbody>
    <div class = "grid-5">

    {% if file_list %}
    {% for file in file_list %}
    <!-- <tr class="text-center"> -->
        {% if file.is_folder %}
        <div class ="items"><a href="{% url 'bucket:group_bucket_file' file.path %}"><img src="{% static './img/folder.png' %}"></a>{{ file.name }}</div>
        {% endif %}
    <!-- </tr> -->
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">EMPTY</td>
    </tr>
    {% endif %}
    </div>
    </tbody>

    <tbody>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>File</th>
        </tr>
        </thead>
    </table>

    <div class = "grid-5">
    {% if file_list %}
    {% for file in file_list %}
    <!-- <tr class="text-center"> -->
        {% if not file.is_folder %}
        <div class ="items"><a href="{% url 'bucket:group_bucket_file' file.path %}"><img src="{% static './img/file.jpg' %}"></a>{{ file.name }}</div>
        {% endif %}
    <!-- </tr> -->
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">EMPTY</td>
    </tr>
    {% endif %}
    </div>

    </tbody>
    

    <form action="{% url 'bucket:group_bucket_create'%}" method="PUT"> {% csrf_token %}
        <input type="text" id="bucket" name="bucket">
        <input type="submit">
    </form>

</div>
{% endblock %}