{% extends 'Base/base.html' %}
{% load bucket_filter %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>Bucket</th>
            <th>Uploader</th>
            <th>type</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center">
            <td class="text-left">
            {% if current_path|is_bucket %}
            <a href="{% url 'bucket:private_bucket' %}">...</a>
            {% else %}
            <a href="{% url 'bucket:private_bucket_file' current_path|upper_path %}">...</a>
            {% endif %}
            </td>
        </tr>
        {% if file_list %}
        {% for file in file_list %}
        <tr class="text-center">
            {% if file.is_folder %}
            <td class="text-left"><a href="{% url 'bucket:private_bucket_file' file.path %}">{{ file.name }}</a></td>
            <td class="text-right"> </td>
            <td class="text-right">folder</td>
            {% else %}
            <td class="text-left"><a href="{% url 'bucket:private_bucket_file' file.path %}">{{ file.name }}</a></td>
            <td class="text-right">{{ file.user }}</td>
            <td class="text-right">file</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">EMPTY</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{% url 'KHUgle:post_create' %}" class="btn btn-primary">Post</a>
</div>
{% endblock %}